.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5FDDA6;
  padding: 10px 20px;
  height: 70px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 200px;
  width: auto;
}

.logo span {
  font-weight: bold;
  font-size: 18px;
}
